* {
  margin: 0;
  box-sizing: border-box;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  width: 960px;
  border: 2px solid red;
}